.background_img {
  background-color: #EEEEEE;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin-bottom: 0;
}

.col-lg-4 {
  padding: 0;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

p {
  color: white;
  line-height: 2rem;
}

/* title section */
.logo {
  width: 40%;
  min-height: 50%;
}

.logo2 {
  visibility: hidden;
  position: absolute;
}

.navbarcon {
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.titlecon {
  padding: 3% 15% 5% 15%;
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container2 {
  position: relative;
  padding-right: 5%;
}

.navbar {
  padding-left: 15%;
  padding-right: 15%;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item {
  font-family: "Montserrat";
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.home-page {
  text-align: center;
}

.home-img-1 {
  border-radius: 10px;
}

.home-img2 {
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}

.explore-store {
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 70%;
}

.explore-store-sm {
  visibility: hidden;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 65%;
}

/* About Section */
.aboutUsDiv {
  text-align: center;
  background-color: rgba(126, 109, 88, 0.8);
  padding: 4% 15%;
}

.aboutHeading {
  color: white;
  font-family: "Ubuntu";
  font-weight: bold;
  margin-bottom: 3%;
}

.aboutHeadingSmall {
  position: absolute;
  visibility: hidden;
}

/* Payment Section */
.paymentDiv {
  text-align: center;
  padding: 8% 15% 0 15%;
}

.paymentHeading {
  color: #484848;
  font-family: "Ubuntu";
  font-weight: bold;
  margin-bottom: 3%;
}

.paymentHeadingSmall {
  position: absolute;
  visibility: hidden;
}

.paymentParagraph {
  color: #484848;
  margin-bottom: 0;
}

.termsAndConditionLink {
  font-weight: bold;
  color: #484848;
  margin-bottom: 7%;
}

.paymentsRowDiv {
  text-align: center;
  padding: 0 15% 10% 15%;
}

.rcsCreditImage {
  width: 98%;
  border-radius: 3%;
  margin-bottom: 10%;
}

.savingsCreditImage {
  width: 98%;
  border-radius: 3%;
  margin-bottom: 10%;
}

.laybyCreditImage {
  width: 98%;
  border-radius: 3%;
  margin-bottom: 10%;
}

.explore-savings-lg {
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 6%;
  top: 10%;
  color: rgba(126, 109, 88, 0.8);
}

.explore-savings-lg:hover {
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 6%;
  top: 10%;
  color: white;
  background-color: rgba(126, 109, 88, 0.8);
}

.explore-savings-sm {
  visibility: hidden;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 8%;
  color: rgba(126, 109, 88, 0.8);
}

.explore-savings-sm:hover {
  visibility: hidden;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 8%;
  color: white;
  background-color: rgba(126, 109, 88, 0.8);
}

.explore-rcs-lg {
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 46%;
}

.explore-rcs-sm {
  visibility: hidden;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 53%;
  top: 45%;
}

.explore-layby-lg {
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 46%;
}

.explore-layby-sm {
  visibility: hidden;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  left: 53%;
  top: 45%;
}

/* Brand Section */
.brandDiv {
  background-color: rgba(126, 109, 88, 0.8);
  padding: 8% 15%;
  text-align: center;
}

.brandParagraph {
  line-height: 2rem;
  margin-bottom: 3%;
}

.brandHeading {
  color: white;
  font-family: "Ubuntu";
  font-weight: bold;
  margin-bottom: 5%;
}

.brandHeadingSmall {
  position: absolute;
  visibility: hidden;
}

.brandImages {
  width: 100%;
}

.brandDivImg {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}

/* Contact Section */
.contactDiv {
  padding: 10% 15%;
  text-align: center;
}

.contactInfoHeidelberg {
  text-align: right;
  padding-left: 15%;
  padding-right: 8%;
  padding-top: 5%;
}

.contactInfoVilliers {
  text-align: left;
  padding-right: 15%;
  padding-left: 8%;
  padding-top: 5%;
}

.contactHeidelberg {
  color: #474747;
  line-height: 1.5rem;
}

.contactVilliers {
  color: #474747;
  line-height: 1.5rem;
}

.contactHeidelbergh5 {
  color: #474747;
  padding-bottom: 3%;
}

.contactHeidelbergh6 {
  color: #474747;
  padding-top: 4%;
}

.contactVilliersh5 {
  color: #474747;
  padding-bottom: 3%;
}

.contactVilliersh6 {
  color: #474747;
  padding-top: 11%;
}

.facebookLink {
  color: #474747;
  padding-top: 5%;
}

/* Media Section */
@media (max-width:768px) {
  .logo {
    position: absolute;
    visibility: hidden;
  }

  .logo2 {
    position: relative;
    visibility: visible;
  }
  p {
    line-height: 1.5rem;
  }

  /* Navbar and Title Section */
  .navbar-brand {
    visibility: hidden;
    position: absolute;
  }

  .logo2 {
    visibility: visible;
    position: relative;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 8%;
  }

  .navbar {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbarcon {
    margin-bottom: 0;
  }

  .titlecon {
    padding: 5% 2% 9% 2%;
  }

  .explore-store {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    right: 7%;
    top: 65%;
  }

  .home-img-1 {
    position: absolute;
    visibility: hidden;
  }

  .home-img2 {
    border-radius: 10px;
    position: relative;
    visibility: visible;
  }

  /* About Section */
  .aboutUsDiv {
    text-align: center;
    background-color: rgba(126, 109, 88, 0.8);
    padding: 20% 15%;
  }

  /* Payment Section */
  .paymentDiv {
    text-align: center;
    padding: 20% 15% 10% 15%;
  }

  .explore-rcs-lg {
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 59%;
    top: 50%;
  }

  .explore-layby-lg {
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 59%;
    top: 50%;
  }

  /* Brand Section */
  .brandDiv {
    background-color: rgba(126, 109, 88, 0.8);
    padding: 20% 15%;
    text-align: center;
  }

  .brandParagraph {
    line-height: 1.5rem;
    margin-bottom: 3%;
  }

  .brandHeading {
    padding-bottom: 5%;
  }

  .explore-store-brand {
    margin-top: 5%;
  }

  .brandDivImg {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  /* Contact Section */
  .contactDiv {
    padding: 10% 5%;
    text-align: center;
  }

  .contactInfoHeidelberg {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
  }

  .contactInfoVilliers {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5%;
  }

  .contactHeidelbergh5 {
    color: #474747;
    padding-bottom: 3%;
    padding-top: 10%;
  }

  .contactHeidelbergh6 {
    color: #474747;
    padding-top: 7%;
    padding-bottom: 3%;
  }

  .contactVilliersh5 {
    color: #474747;
    padding-bottom: 3%;
    padding-top: 10%;
  }

  .contactVilliersh6 {
    color: #474747;
    padding-top: 10%;
    padding-bottom: 3%;
  }

  .facebookLink {
    padding-top: 10%;
  }
}

@media (max-width:360px) {
  .explore-store {
    visibility: hidden;
  }

  .explore-store-sm {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    right: 7%;
    top: 65%;
  }

  .logo2 {
    width: 80%;
    margin-top: 15%;
    margin-bottom: 10%;
  }

  /* About Section */
  .aboutHeading {
    visibility: hidden;
    position: absolute;
  }

  .aboutHeadingSmall {
    visibility: visible;
    position: relative;
    color: white;
    font-family: "Ubuntu";
    font-weight: bold;
    margin-bottom: 10%;
  }

  /* Payment Section */
  .paymentHeading {
    position: absolute;
    visibility: hidden;
  }

  .paymentHeadingSmall {
    position: relative;
    visibility: visible;
    color: #484848;
    font-family: "Ubuntu";
    font-weight: bold;
    margin-bottom: 10%;
  }

  .explore-savings-lg {
    visibility: hidden;
  }

  .explore-savings-lg:hover {
    visibility: hidden;
  }

  .explore-savings-sm {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 7%;
    top: 9%;
    color: rgba(126, 109, 88, 0.8);
  }

  .explore-savings-sm:hover {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 7%;
    top: 9%;
    color: white;
    background-color: rgba(126, 109, 88, 0.8);
  }

  .explore-rcs-lg {
    visibility: hidden;
  }

  .explore-rcs-sm {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 64%;
    top: 48%;
  }

  .explore-layby-lg {
    visibility: hidden;
  }

  .explore-layby-sm {
    visibility: visible;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    left: 64%;
    top: 48%;
  }

  /* Brand Section */
  .brandDiv {
    background-color: rgba(126, 109, 88, 0.8);
    padding: 15% 15%;
    text-align: center;
  }
  .brandDivImg {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 0;
  }
  .brandParagraph {
    line-height: 1.5rem;
    margin-bottom: 10%;
  }

.brandHeading {
  visibility: hidden;
  position: absolute;
}
  .brandHeadingSmall {
    position: relative;
    visibility: visible;
    color: white;
    font-family: "Ubuntu";
    font-weight: bold;
    padding: 20% 0;
  }

  .explore-store-brand {
    margin-top: 10%;
    margin-bottom: 20%;
  }

  /* Contact Section */
  .contactDiv {
    padding-top: 30%;
  }
  .contactInfoHeidelberg {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 20%;
  }

  .contactInfoVilliers {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 20%;
  }
  .contactHeidelbergh5 {
    color: #474747;
    padding-bottom: 3%;
    padding-top: 10%;
  }

  .contactHeidelbergh6 {
    color: #474747;
    padding-top: 20%;
    padding-bottom: 3%;
  }

  .contactVilliersh5 {
    color: #474747;
    padding-top: 10%;
    padding-bottom: 3%;
  }

  .contactVilliersh6 {
    color: #474747;
    padding-bottom: 3%;
  }
  .facebookLink {
    color: #474747;
    padding-top: 20%;
  }
}
